<!--====== HEADER PART START ======-->
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="description" content="" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<!--====== Title ======-->
<title>DEMO | BedenkerLabs</title>
<!--====== Favicon Icon ======-->
<!--====== Bootstrap css ======-->
<link rel="stylesheet" type="text/css" href="/stylesheets/assets/css/bootstrap.min.css" />
<!--====== Fontawesome css ======-->
<!--====== Magnific Popup css ======-->
<link rel="stylesheet" href="/stylesheets/assets/css/magnific-popup.css" />
<!--====== nice select css ======-->
<link rel="stylesheet" href="/stylesheets/assets/css/nice-select.css" />
<!--====== odometer css ======-->
<link rel="stylesheet" href="/stylesheets/assets/css/odometer.min.css" />
<!--====== Slick css ======-->
<link rel="stylesheet" href="/stylesheets/assets/css/slick.css" />
<!--====== Default css ======-->
<link rel="stylesheet" href="/stylesheets/assets/css/default.css" />
<!--====== Style css ======-->
<link rel="stylesheet" href="/stylesheets/assets/css/style.css" />

    <!--====== HEADER PART ENDS ======-->